@media  screen and (max-width:1300px) {
    .header-center {
        width: 90%; 
        margin: auto;               
    }
    .slide {        
        width: 90%;           
    }
    .categories{
        width: 90%;
    }
}
@media  screen and (max-width:1130px) {
    .header-center {
        width: 100%;                
    }
    .slide {        
        width: 100%;           
    }
    .categories{
        width: 100%;
    }
}
@media screen and (max-width:1010px) {
    .header-center__center {
        display: none;
    }
    .search a{
        display: block;
    }
    .tooltip i{
        font-size: 30px;
    }
    .categories{
        justify-content: space-evenly;
    }
    .kasnak,.ip,.boya,.firca {
        width: 40%;
        margin-bottom: 20px;
    }   
    
}   
@media screen and (max-width:676px) {    
    .header-top p{
        font-size: 15px;
    }
    .header-center {
        justify-content: space-evenly;                
    }        
    .header-center__left {
        width: 20%;
    }
    .header-center__right a{
        display: none;
    }
    .menu a{
        display: inline-block;
        padding: 20px;
    }     
    .tooltip i{
        font-size: 25px;
    }      
    .slide img{        
        height: 300px;           
    } 
    .kasnak,.ip,.boya,.firca {
        width: 60%;
        margin-bottom: 20px;
    } 
    
}
@media screen and (max-width:290px) {
        .header-center {
            display: block;
            position: relative;
        }   
        .header-center__right{
            float: right;
            position: absolute;
            top: -10px;
            right: 0;
        }
        .slide img{            
            height: 200px;           
        }
}